@tailwind base;
@tailwind components;
@tailwind utilities;

.str-video__participant-details {
  color: white;
}

.str-video__menu-container {
  color: white;
}

.str-video__notificatio {
  color: white;
}

.str-video__video-preview-container {
  max-width: 100%;
  overflow-x: auto;
}
